body {
  font-family: var(--font-family-base);
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  cursor: url("../icons/cursor.svg"), auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 815px;
  // max-width: 1230px;
  min-height: 100vh;
  padding-inline: 15px;
  margin-inline: auto;
  padding-block: 32px;
}
