@mixin flex-mixin($isInline, $gap) {
  display: flex;
  @if $isInline {
    flex-direction: row;
  } @else {
    flex-direction: column;
  }
  gap: $gap;
}


@mixin block {
  background-color: var(--color-dark-alt);
  border-radius: var(--border-radius-block);
  border: var(--border);
}