:root {
  --color-white: #fff;

  --color-dark: #000;
  --color-dark-alt: #262626;
  --color-border: #4D4D4D;

  --border-radius: 12px;

  --transition-base: all 0.2s ease-in;

  --font-family-base: "Inter", sans-serif;
  --font-family-add: "SF Pro Display", sans-serif;
}
