:root {
  --color-white: #fff;
  --color-red: #fa7272;

  --color-dark: #000;
  --color-dark-alt: #262626;
  --color-text-dark: #2d2d2d;
  --color-bg: #1d1d1d;
  --color-border: #4d4d4d;

  --border-radius-block: 12px;
  --border-radius-btn: 8px;

  --transition-base: all 0.2s ease-in;

  --border: 1px solid var(--color-border);

  --font-family-base: "Inter", sans-serif;
  --font-family-add: "SF Pro Display", sans-serif;
}
