.modal {
  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--color-dark-alt);
  border: var(--border);
  width: 250px;
  height: 500px;


  animation-name: showModalRight;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.modal__body {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  height: 100%;
}
.modal__top {
  position: relative;
  padding-top: 50px;
  padding-bottom: 30px;
  border-bottom: var(--border);
}
.modal__skeleton_padding {
  margin-bottom: 24px;
}
.modal__img {
  width: 130px;
  height: 130px;
  margin-inline: auto;
}

.modal__main {
  padding-top: 16px;
  padding-bottom: 24px;
  flex-shrink: 1;
}

.modal__footer {
  padding-block: 18px;
  border-top: var(--border);
}

.modal__footer-actions {
  position: absolute;
  bottom: 0;
  left: 21px;
  right: 21px;
  z-index: 1;
  background-color: #262626;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 20px;
  padding-inline: 6px;
  border-top: var(--border);
}

.modal__actions{
  display: flex;
  gap: 10px;
}

.modal__btn {
  width: 100%;
  padding-block: 11px;
}

.modal__actions-btn {
  width: 100%;
  padding-block: 8px;
}

@keyframes showModalRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
